@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  
  --cor-bg: #1f2641;
  --cor-bg1: #2e3267;
  --cor-bg2: #424890;
  --cor-primaria: #151320;

  --cor-sucesso: #00bf8e;
  --cor-alerta: #f7c94b;
  --cor-perigo: #f75842;
  --cor-perigo-variante: rgba(247, 88, 66, 0.4);

  --cor-branco: #fff;  
  --cor-cinza:#eee;
  --cor-cinza1: #ccc;
  --cor-cinza2: #ededed;  
  --cor-cinza3: #d1d5db3d;  
  --cor-cinza-var: rgba(255, 255, 255, 0.7);
  --cor-preto: #000;
  --cor-preto1: #0000000d;
  
  --cor-roxo: #454cad;
  --cor-roxo1:#1c2539;
  --cor-roxo2:#292F42;
  --cor-azul-var: #5f6982;
  --cor-verde: #3be7bc;
  --cor-azul:#2192FF;
  --cor-azul1: #ABB9D3;
  --cor-azul2: #283c85;
  --cor-azul3: #40E4FF;
  --cor-azul4: #18a7ff;
  --cor-azul5: #18a7ff0d;
  
  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

--transition: all 400ms ease;
    
}

* {  
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;  
  list-style: none;
  text-decoration: none; 
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

  body {  
    margin: 0;
    padding: 0;   
    height: 100vh;
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
    font-family: "Poppins", sans-serif;
    background: var(--cor-bg);
    color: var(--cor-preto);       
    line-height: 1.7; 
    background-image: url(../img/bg-texture.png);
  }

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}




